.tab-heading {
    display: inline-block;
    padding-bottom: 3px;
    padding: 0 20px 20px;
    font-weight: 500;
    color:#556789;
    cursor: pointer;
    width: 33.3%;
    text-align: center;
}

.tab-wrapper {
    margin-bottom: 30px;
    border-bottom: 1px solid #f1f1f4;
}

.active {
 color:#83a62e;
 border-bottom: 5px solid #83a62e;
}

.langDiv {
    display: flex;
    width: 100px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    float: none;
    margin: 0 auto 20px;
}

@media(min-width: 768px) {
    .tab-heading{
        padding-bottom: 12px;
        width: auto;
    }

    .langDiv {
        height: 15px;
        float: right;
        margin-right: 15px;
        margin-bottom: 0;
    }
}