.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .pricing-heading {
    color: rgb(43, 65, 108)
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }
  
  .close {
    display: block;
    margin: auto;
    font-weight: bold;
    color: rgb(24, 27, 52);
    border: 3px solid rgb(24, 27, 52);
    padding: 15px 30px;
  }
  
  .close:hover,
  .close:focus {
    color: #fff;
    background: rgb(24, 27, 52);
    text-decoration: none;
    cursor: pointer;
  }

  img {
      width: 100%;
  }

  .modal-top{
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 10px;
  }

  .modal-text{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
  }

  .modal-image {
    box-shadow: 0px 0px 15px 0px grey;
  }

  .game-text {
    color: rgb(43, 65, 108);
    margin-bottom: 20px;
    font-weight: 700;
  }

  .region-text{
    color: rgb(167, 172, 191)
  }

  @media(min-width: 768px) {
    .modal-content{
        width: 25%;
    }
}