*,*:after, *:before {
  box-sizing: border-box;
}

main {
  width: 95%;
  margin: auto;
}

.react-datepicker__input-container {
  position: absolute;
  width: 20px;
  opacity: 0;
  top: 11px;
  right: 39px;
}

@media(min-width: 768px) {
  main {
    width: 80%;
  }

  .react-datepicker__input-container {
    position: static;
    width: auto;
  }
}